.body1{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
}
.body2{
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 500px;
}
h5{
    font-family: Bree Serif;
    color: #5752ab;
}
p button{
    font-family: Roboto;
    color: #323f4b;
}
.btn_button{
    font-family: Roboto;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #d7dfe9;
    color: #171f46;
} 
.btn_button1{
    background-color: #5752ab;
    color: #ffffff;
    border-color: #d7dfe9;
    border-radius: 10px;
}