.div1{
    background-color: red;
    height: 30px;
}
.div2{
    background-color: aqua;
    height: 30px;
}
.div3{
    background-color: blue;
    height: 40px;
}
.div4{
    background-color: brown;
    height: 40px;
}
.div5{
    background-color: cadetblue;
    height: 40px;
}
.div6{
    background-color: chartreuse;
    height: 50px;
}
.div7{
    background-color: chocolate;
    height: 50px;
}
.div8{
    background-color: blueviolet;
    height: 50px;
}
.div9{
    background-color: aquamarine;
    height: 60px;
}
.div10{
    background-color: black;
    height: 60px;
}
.div11{
    background-color: coral;
    height: 60px;
}
.div12{
    background-color: cornflowerblue;
    height: 60px;
}
.div13{
    background-color: cornsilk;
    height: 60px;
}
.div14{
    background-color: crimson;
    height: 60px;
}
.div15{
    background-color: green;
    height:200px;
}
.container{
width: 100%;
}
.col-1{ 
     width: 8.33%;
    float: left;
}
.col-2 {
    width: 16.66%;
    float: left;
}
.col-3 {
    width: 25%;
    float: left;
}
.col-4 {
    width: 33.33%;
    float: left;
}
.col-5 {
    width: 41.66%;
    float:left;
}
.col-6 {
    width: 50%;
    float: left;
    /* padding: 15px; */
}
.col-7 {
    width: 58.33%;
    float: left;
    /* padding: 15px; */
}
.col-8 {
    width: 66.66%;
    float: left;
}
.col-9 {
    width: 75%;
    float: left;
}
.col-10 {
    width: 83.33%;
    float: left;
}
.col-11 {
    width: 91.66%;
    float: left;
}
.col-12 {
    width: 100%;
    float: left;
}
.p{
    padding: 10px;
}
.m{
    margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
    [class *="col-"]
    {
        width: 100%;
    }
}