.l{
    font-size: 100px;
}
.bk{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.h{
    width: 120px;
}