.bg1{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.bg2{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.m{
    margin-top: 270px;
}
.m1{
    width: 140px;
    height: 50px;
    border: solid;
}